In [1]:
import pandas as pd
import numpy as np

In [11]:
path = "D:/TestAdvisor/Analyzers/Data/RawData/USDJPY/2015.01.02_2015.12.30.json"
raw_data = pd.read_json(path)
raw_data.columns = map(str.capitalize, raw_data.columns)
raw_data['Current'] = pd.to_datetime(raw_data['Current'])
raw_data = raw_data.set_index('Current')

In [7]:
def interpolate(df: pd.DataFrame, start_index, end_index, crop=True) -> pd.DataFrame:

    """
    DataframeにNaneとして入っている欠損値を補完
    df: DataFrame
    start_index: 補完開始インデックス start_indexのデータがない場合は補完しない
    end_index: 補完終了インデックス
    """
    
    # 欠損値を補完
    df.loc[(df.index >= start_index) & (df.index <= end_index), df.columns] = df.loc[(df.index >= start_index) & (df.index <= end_index), df.columns].interpolate()
    # start_index~end_indexの範囲外のデータを削除
    if crop:
        df = df.loc[(df.index >= start_index) & (df.index <= end_index)]
    return df

In [10]:
def interpolate_df(df: pd.DataFrame)    
    index = 0
    while index + 1 < len(df.index):
        new_minute_data = df.iloc[index]
        if index != df.index[-1]:
            current_time = df.index[index]
            next_time = df.index[index+1]
            time_delta = next_time - current_time
            # dataに抜けが存在する場合で期間が一日以下の場合これを補完する
            if time_delta > pd.Timedelta(minutes=1) and time_delta < pd.Timedelta(days=1):
                print("Data is missing at", current_time, "to", next_time, "Data will be interpolated.", end="", flush=True)
                # 抜けている分のデータをnoneで埋めて作成
                none_df = pd.DataFrame(index=pd.date_range(current_time+pd.Timedelta(minutes=1), next_time-pd.Timedelta(minutes=1), freq='1min'))
                none_df['Current'] = none_df.index
                none_df['Current'] = pd.to_datetime(none_df['Current'])
                none_df = none_df.set_index('Current')
                none_df = none_df.interpolate()
                df = pd.concat([df, none_df], ignore_index=False)
                df = df.sort_index()
                #raw_data = raw_data.rename(columns={'index': 'Current'})
                df = interpolate(df, current_time, next_time, False)
        index += 1
    
    df = df.reset_index(drop=False)
    df = df.set_index("Current")
    return df

TypeError: '>' not supported between instances of 'int' and 'Timedelta'

In [4]:
raw_data

                        Open     High      Low    Close  Volume  Spread
Current
2015-01-02 08:05:00  120.413  120.415  120.413  120.414       7      20
2015-01-02 08:06:00  120.414  120.416  120.413  120.414       9      19
2015-01-02 08:07:00  120.416  120.416  120.414  120.414       7      19
2015-01-02 08:08:00  120.415  120.415  120.407  120.407      29      18
2015-01-02 08:09:00  120.407  120.424  120.406  120.406      35      18
...                      ...      ...      ...      ...     ...     ...
2015-12-30 23:54:00  120.509  120.509  120.503  120.503      38      21
2015-12-30 23:55:00  120.503  120.506  120.503  120.506      49      22
2015-12-30 23:56:00  120.505  120.515  120.502  120.515      42      20
2015-12-30 23:57:00  120.516  120.516  120.513  120.516      32      19
2015-12-30 23:58:00  120.516  120.518  120.513  120.516      24      21

[370340 rows x 6 columns]

In [9]:
raw_data

                   Current     Open     High      Low    Close  Volume  Spread
0      2015-01-02 08:05:00  120.413  120.415  120.413  120.414     7.0    20.0
1      2015-01-02 08:06:00  120.414  120.416  120.413  120.414     9.0    19.0
2      2015-01-02 08:07:00  120.416  120.416  120.414  120.414     7.0    19.0
3      2015-01-02 08:08:00  120.415  120.415  120.407  120.407    29.0    18.0
4      2015-01-02 08:09:00  120.407  120.424  120.406  120.406    35.0    18.0
...                    ...      ...      ...      ...      ...     ...     ...
370682 2015-12-30 23:54:00  120.509  120.509  120.503  120.503    38.0    21.0
370683 2015-12-30 23:55:00  120.503  120.506  120.503  120.506    49.0    22.0
370684 2015-12-30 23:56:00  120.505  120.515  120.502  120.515    42.0    20.0
370685 2015-12-30 23:57:00  120.516  120.516  120.513  120.516    32.0    19.0
370686 2015-12-30 23:58:00  120.516  120.518  120.513  120.516    24.0    21.0

[370687 rows x 7 columns]

In [ ]:
# ---------------------------------------
# dfを使った高速な処理の案
# ---------------------------------------
m1_data = [raw_data.iloc[i-sequence_length+1:i+1] for i in np.arange(sequence_length, len(raw_data.index))]
times = [raw_data.iloc[i].Current for i in np.arange(sequence_length, len(raw_data.index))]
times = np.array(times)
times_df = pd.DataFrame(times, columns=["timestamp"])
times_df['week'] = times_df['timestamp'].dt.isocalendar().week
grouped = times_df.groupby('week')
weeks_index = [group.index.tolist() for name, group in grouped]

agg_args = {
"Open": "first",
"High": "max",
"Low": "min",
"Close": "last",
"Volume": "sum",
"Spread": "mean"
}
for week_index in weeks_index:
    times_week = times[week_index]
    m1_data_week = [m1_data[i] for i in week_index]
    m5_week = [m1_week[i].resample('5min').agg(agg_args) for i, m1_week in enumerate(m1_data_week)]
    m10_week = [m1_week[i].resample('10min').agg(agg_args) for i, m1_week in enumerate(m1_data_week)]
    m15_week = [m1_week[i].resample('15min').agg(agg_args) for i, m1_week in enumerate(m1_data_week)]
    m30_week = [m1_week[i].resample('30min').agg(agg_args) for i, m1_week in enumerate(m1_data_week)]
    h1_week = [m1_week[i].resample('1h').agg(agg_args) for i, m1_week in enumerate(m1_data_week)]
    # times_weekをindexとしてまとめたdfを作成して保存